.app__about {
  border: 3px 0px 3px 0px solid var(--color-yellow);
  background-color: #410160;
  display: flex;
  align-self: center;
  justify-content: center;
  flex-direction: column;
  font-family: Maven Pro, sans-serif;
}

.app__about__info { 
  display: flex;
  flex-direction: row;
  align-self: center;
  justify-content: center;
  margin-top: 80px;
  max-width: 987px;
}

.app__about__img-column {
  display: flex;
  justify-content: center;
  align-items: center;
  width: 50%;
}

.app__about__portrait {
  border: 5px solid rgba(255, 89, 79, 1);
  height: 336px;
  width: 386px;
  object-fit: cover;
}

.app__about__words-column {
  display: flex;
  flex-direction: column;
  width: 50%;
}

.app__about__words-padding {
  display: flex;
  flex-direction: column;
  align-self: stretch;
  font-size: 20px;
  color: #ffde00;
  font-weight: 700;
  padding: 0px 60px 0px 60px;
}
.app__about__title {
  letter-spacing: -0.48px;
  color: var(--color-yellow);
  font: 700 24px var(--font-alt);
}

.app__about__line {
  background-color: var(--color-yellow);
  margin-top: 15px;
  width: 75px;
  height: 3px;
}

.app__about__resume {
  text-align: left;
  margin-top: 20px;
}

.app__about__buttons-box {
  align-self: left;
  display: flex;
  margin-top: 30px;
  gap: 20px;
  white-space: nowrap;
}

.app__about__button {
  font: 600 18px var(--font-alt);
  text-align: center;
  color: var(--color-yellow);
  background-color: transparent;
  border: 2px solid var(--color-yellow);
  width: 120px;
  height: 44px;
  display: flex;
  align-items: center;
  justify-content: center;
  outline: none;
  cursor: pointer;
  transition: all 0.1s;
  &:hover{
    color: #000;
    background-color: var(--color-yellow);
  }
}

.app__about__email-section {
  display: flex;
  justify-content: center;
  align-items: center;
  background-color: rgba(0, 0, 0, 0.62);
  color: #fff;
  padding: 55px 60px;
  gap: 20px;
}
.app__about__email{
  font-weight: 700;
  font-size: 28px;
}
@media all and (max-width: 500px) {
  .app__about__info,
  .app__about__img-column,
  .app__about__words-column {
    flex-direction: column;
    width: 100%;
  }
  .app__about__portrait{
    border-width: 4px;
    max-width: 70vw;
    max-height: 70vw;
  }
  .app__about__words-padding {
    padding: 60px 60px 0px 60px;
  }
  .app__about__buttons-box {
    display: flex;
    justify-content: center;
  }
  .app__about__email-section {
    display: flex;
    flex-direction: column;
    gap: 20px;
  }
  .copy{
    position: absolute;
    width: 100%;
    color: transparent;border: none;
    &:hover{
      background-color: transparent;
      color: transparent;
    }
  }
  .app__about__email{
    font-size: 5vw;
  }
}