@import url('https://fonts.googleapis.com/css2?family=Manrope:wght@200;300;400;500;600;700;800&display=swap');

@tailwind base;
@tailwind components;
@tailwind utilities;

:root {
  --background: #00000;
  --foreground: #171717;
}

@media (prefers-color-scheme: dark) {
  :root {
    --background: image;
    --foreground: #ededed;
    --font-base: 'Cormorant Upright', serif;
    --font-alt: 'maven-pro', sans-serif;  
  }
}

html {
  scroll-behavior: smooth;
}

body {
  color: var(--foreground);
  @apply bg-primary;
  height: 100vh; 
}

@layer utilities {
  .bg-\[url\(\'\/assets\/footer-bg\.png\'\)\] {
    background-image: url('/assets/footer-bg.png');
  }
  
  .image {
    @apply border-solid border-2 border-orange rounded-lg shadow-xl w-full
  }

  .flex-between {
    @apply flex justify-between items-center;
  }
  
  .text-30-extrabold {
    @apply text-[30px] font-extrabold text-white;
  }

  .text-30-bold {
    @apply text-[30px] font-bold;
  }

  .text-30-semibold {
    @apply font-semibold;
  }

  .text-26-semibold {
    @apply font-semibold text-[26px] text-black;
  }

  .text-24-black {
    @apply text-[24px] font-black text-black;
  }

  .text-20-medium {
    @apply font-medium text-[20px];
  }

  .text-16-medium {
    @apply font-medium text-[16px] text-black;
  }

  .text-14-normal {
    @apply font-normal text-sm text-white-100/80;
  }

  .heading {
    @apply px-6 py-3 font-work-sans font-semibold sm:text-[50px] sm:leading-[64px] text-[36px] leading-[46px] max-w-5xl text-center my-5;
  }

  .sub-heading {
    @apply font-medium text-[20px] max-w-2xl break-words;
  }

  @media screen and (max-width: 650px) {
    .heading {
      @apply text-[28px] leading-[36px];
    }
    .sub-heading {
      @apply text-[16px];
    }
  }

  .startup-card {
    @apply  bg-primary-200 text-white-100 hover:text-black border-[3px] border-transparent min-h-[45vw] w-[45vw] sm:min-h-[270px] sm:w-[270px] hover:border-black shadow-2xl transition-all duration-500 hover:shadow-200 hover:bg-white;
  }

  .card_grid {
    @apply grid grid-cols-2 sm:grid-cols-3 gap-5 space-x-0 p-3;
  }

  .card_h1 {
    @apply text-30-semibold text-[15px] sm:text-[25px] p-3;
  }

  .button {
    @apply  h-[44px] w-[120px] text-center text-yellow-200 border-[3px] border-yellow-200 py-2 px-6 text-lg hover:bg-secondary hover:border-secondary hover:text-black transition-all;
  }
}

