.app__header {
  border-color: rgba(65, 1, 96, 1);
  border-style: solid;
  border-bottom-width: 135px;
  background-color: #ffde00;
  padding: 67px 69px 67px 0;
}

@media (max-width: 991px) {
  .app__header {
    padding-right: 20px;
  }
}

.app__header__2 {
  gap: 20px;
  display: flex;
}

@media (max-width: 991px) {
  .app__header__2 {
    flex-direction: column;
    align-items: stretch;
    gap: 0px;
  }
}

.app__header__title-column {
  display: flex;
  flex-direction: column;
  line-height: normal;
  width: 61%;
  margin-left: 0px;
}

@media (max-width: 991px) {
  .app__header__title-column {
    width: 100%;
  }
}

.app__header__title-box {
  display: flex;
  margin-top: 25px;
  flex-direction: column;
}

@media (max-width: 991px) {
  .app__header__title-box {
    max-width: 100%;
    margin-top: 40px;
  }
}

.app__header__dots {
  aspect-ratio: 1;
  object-fit: auto;
  object-position: center;
  width: 20px;
  margin-left: 9px;
}

.app__header__title-box2 {
  align-self: end;
  display: flex;
  margin-top: 98px;
  width: 567px;
  max-width: 100%;
  flex-direction: column;
}

@media (max-width: 991px) {
  .app__header__title-box2 {
    margin-top: 40px;
  }
}

.app__header__title {
  color: #000;
  text-align: center;
  align-self: center;
  font: 700 48px Maven Pro, sans-serif;
}

@media (max-width: 991px) {
  .app__header__title {
    max-width: 100%;
    font-size: 40px;
  }
}

.app__header__line {
  border-color: rgba(0, 0, 0, 1);
  border-style: solid;
  border-width: 3px;
  background-color: #000;
  margin-top: 41px;
  height: 3px;
}

@media (max-width: 991px) {
  .app__header__line {
    max-width: 100%;
    margin-top: 40px;
  }
}

.app__header__paragraph {
  color: #000;
  text-align: center;
  margin-top: 49px;
  font: 400 24px Maven Pro, sans-serif;
}

@media (max-width: 991px) {
  .app__header__paragraph {
    max-width: 100%;
    margin-top: 40px;
  }
}

.app__header__logos {
  align-self: center;
  display: flex;
  margin-top: 81px;
  padding-right: 16px;
  justify-content: space-between;
  gap: 20px;
}

@media (max-width: 991px) {
  .app__header__logos {
    margin-top: 40px;
  }
}

.app__header__github-logo {
  aspect-ratio: 0.9;
  object-fit: auto;
  object-position: center;
  width: 36px;
}

.app__header__linkedin-logo {
  aspect-ratio: 1;
  object-fit: auto;
  object-position: center;
  width: 40px;
  fill: #000;
}

.app__header__photo-column {
  display: flex;
  flex-direction: column;
  line-height: normal;
  width: 39%;
  margin-left: 20px;
}

@media (max-width: 991px) {
  .app__header__photo-column {
    width: 100%;
  }
}

.app__header__portrait {
  aspect-ratio: 0.78;
  object-fit: auto;
  object-position: center;
  width: 100%;
  border-color: rgba(147, 28, 218, 1);
  border-style: solid;
  border-width: 10px;
  margin-top: 81px;
  flex-grow: 1;
}

@media (max-width: 991px) {
  .app__header__portrait {
    max-width: 100%;
    margin-top: 40px;
  }
}
