.app__footer {
  border-color: rgba(0, 0, 0, 1);
  border-style: solid;
  border-bottom-width: 55px;
  background-color: #ffde00;
  display: flex;
  flex-direction: column;
  padding: 80px 11px 11px 80px;
}
@media (max-width: 991px) {
  .app__footer {
    padding-left: 20px;
  }
}
.app__footer__2 {
  align-self: center;
  display: flex;
  margin-top: 23px;
  width: 100%;
  max-width: 1128px;
  gap: 20px;
}
@media (max-width: 991px) {
  .app__footer__2 {
    max-width: 100%;
    flex-wrap: wrap;
  }
}
.app__footer__logos {
  display: flex;
  gap: 20px;
  justify-content: space-between;
}
.app__footer__copyright {
  color: #000;
  text-align: center;
  flex-grow: 1;
  flex-basis: auto;
  margin: auto 0;
  font: 400 20px Maven Pro, sans-serif;
}
@media (max-width: 991px) {
  .app__footer__copyright {
    max-width: 100%;
  }
}
.app__footer__dots {
  aspect-ratio: 1;
  object-fit: auto;
  object-position: center;
  width: 15px;
  align-self: end;
  margin-top: 76px;
}
@media (max-width: 991px) {
  .app__footer__dots {
    margin-top: 40px;
  }
}