.app__more {
    display: flex;
    flex-direction: column;
    align-items: center;
    color: var(--color-yellow);
    margin-bottom: 85px;
}
.app__more__p { 
    font: 400 18px var(--font-alt);
    margin-top: 20px;
    width: 50%;
}