.app__project {
    display: flex;
    align-items: center;
    width: 100%;
    max-width: 1356px;
    margin-top: 30px;
}

.app__project__column-photo {
    display: flex;
    align-items: center;
    flex-direction: column;
    line-height: normal;
    width: 63%;
    margin-left: 0px;
}

.app__project__img {
    object-fit: cover;
    object-position: center;
    height: 35vw;
    width: 60vw;
    border: 5px solid var(--color-orange);
    transition: all 0.2s;
}

@media (hover :hover) {
    .app__project__img:hover {
        border-color: var(--color-orange);
        transform: scale(1.02);
    }
}

.app__project__column-desc {
    display: flex;
    align-items: center;
    justify-content: center;
    flex-direction: column;
    gap: 30px;
    width: 37%;
}

.left_description {
    margin-right: 20px;
}

.right_description {
    margin-left: 20px;
}

.app__project__title {
    display: flex;
    align-items: end;
    height: 50%;
    color: var(--color-yellow);
    align-self: center;
    font: 700 48px Maven Pro, sans-serif;
}

.app__project__description {
    text-align: center;
    height: 50%;
    width: 70%;
    color: white;
    font: 400 25px Maven Pro, sans-serif;
}

.app__project__logos {
    display: flex;
    justify-content: center;
    align-items: center;
    color: white;
    gap: 30px;
}

@media (hover :hover) {

    .app__project__github-logo:hover,
    .app__project__website-logo:hover {
        color: var(--color-gray);
    }
}

@media all and (max-width: 650px) {
    .app__project {
        margin-top: 40px;
        flex-direction: column;
        width: 100%;
    }

    .app__project__column-photo {
        width: 100%;
        margin-top: 30px;
    }

    .app__project__column-desc {
        order: 1;
        width: 100%;
        margin-top: 40px;
        margin-left: 0;
    }

    .app__project__img {
        height: 55vw;
        width: 90vw;
        border-width: 4px;
    }
}