* {
    box-sizing: border-box;
    margin: 0;
    padding: 0;
    scroll-behavior: smooth; 
}

.p__opensans {
    line-height: 28px;
    font: 400 18px var(--font-alt);
    word-spacing: 1px;
}
.h__opensans {
    font: 700 48px var(--font-alt);
    word-spacing: 1px;
}

a {
    color: unset;
    text-decoration: none;
}

@media screen and (max-width: 1150px) {

}

@media screen and (max-width: 900px) {
    .p__opensans {
        font-size: 16px;
    }    
    .h__opensans{
        font-size: 32px;
    }
}

@media screen and (max-width: 650px) {
    .p__opensans {
        font-size: 16px;
    }    
    .h__opensans{
        font-size: 32px;
    }
}


@-webkit-keyframes scale-up-center {
    0% {
        -webkit-transform: scale(0.5);
        transform: scale(0.5);
    }

    100% {
        -webkit-transform: scale(1);
        transform: scale(1);
    }
}

@keyframes scale-up-center {
    0% {
        -webkit-transform: scale(0.5);
        transform: scale(0.5);
    }

    100% {
        -webkit-transform: scale(1);
        transform: scale(1);
    }
}