@import url('https://fonts.googleapis.com/css2?family=Manrope:wght@200;300;400;500;600;700;800&display=swap');

:root {
  --font-base: 'Cormorant Upright', serif;
  --font-alt: 'maven-pro', sans-serif;  
  
  --color-golden: #DCCA87;
  --color-black: #0C0C0C;
  --color-gray: #545454;
  --color-white: #FFFFFF;
  --color-purple: rgba(65, 1, 96, 1);
  --color-yellow: #ffde00;;
}

* {
  box-sizing: border-box;
  padding: 0;
  margin: 0;
  scroll-behavior: smooth;
}